
/* web page style */
.web{
    font-family: 'Poppins', sans-serif;
}

/* header Style */

.header{
    display: flex;
    background: #2D25A0;
    width: 1440px;
    height: 677px;
}
.copa{
      position: absolute;
      left: 156px;
      top: 207px;
      font-weight: 700;
      color: #FFFFFF;
}
.p-copa{
    font-size: 64px;
    width: 487px;
    height: 320px;
    line-height: 80px;
}
.header-a a {
    position: absolute;
    width: 168px;
    height: 44px;
    top: 300px;
    
    background: #E02C6D;
    text-decoration: none;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
}
.h-banner img{
    width: 556px;
    height: 438px;
    position: absolute;
    left: 766px;
    top: 125px;
}

/* *****
       main part of webite
           ******** */
.players{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1050px;
    margin-top: 15px;
    margin-left: 50px;
}
.player{
    padding: 15px;
    width: 330px;
    height: 456px;

    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin: 15px 30px 0px 30px;
}

.player img{
    width: 300px;
    height: 256px;
    margin: 16px 0px;
}
/* *******
          footer style
                       ******* */
 .football img{
    width: 483.87px;
    height: 110px;
 }
 .football{
     position: relative;
     left: 500px;
     top: 344px;
 }
 .icon{
     position: relative;
     width: 170px;
     height: 32px;
     left: 156px;
 }
 .icon i {
     padding: 10px;
     color: darkgray;
     background: lightgray;
     border-radius: 50%;
     
    
 }
 
 i:hover {
     transform: rotate(360deg);
     width: 20px;
     transition-duration: 2s;
     color: lightgreen;

 }
 .copy{
     position: relative;
     left: 125px;
 }

 /* --------------
 Media Queries
       --------- */
/* Mobile devices */

@media only screen and (max-width:688px) {
    .header{
        position: absolute;
        width: 360px;
        height: 695px;
        margin-left: 80px;
    }
    .p-copa{
        position: absolute;
        width: 278px;
        height: 138px;
        left: -86px;
        top: -56px;
        font-size: 36px;
        line-height: 50px
    }
    .header-a a{
        padding: 10px 24px;

        position: absolute;
        width: 120px;
        height: 44px;
        left: -70px;
        top: 150px;
    }
    .h-banner img{
        width: 250px;
        height: 200px;
        position: absolute;
        left: 70px;
        top: 450px;
    }
    /* -------- main------- */
    .players{

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 300px;
        margin-top: 15px;
        margin-left: 50px;
        position: absolute;
        top: 700px;
    }
    /* --------footer---------- */

    .football{
        position: relative;
        left: 50px;
        top: 7000px;
    }

}